<%= render @board %>

<div class="mt-3 text-center">
  <%#= link_to "Edit", edit_board_path(@board), class: "btn btn-primary" %>
  <%#= link_to "Destroy", board_path(@board), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
  <%#= link_to "Back to boards", boards_path, class: "btn btn-secondary" %>
</div>