---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/denialtorres?client_id=Ov23liY4LqxO6huPFlv3&client_secret=ff0b04c4d70c2d58d19738b74a866f5bcd9d3459&per_page=30
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4cee39b8ffe4449c637e03e5c60e8a0fae1dbfef33737e378e1f2d45b2e39b12"
      Last-Modified:
      - Thu, 06 Mar 2025 18:41:19 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '11'
      X-Ratelimit-Reset:
      - '1742256181'
      X-Ratelimit-Used:
      - '49'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"login":"denialtorres","id":12284596,"node_id":"MDQ6VXNlcjEyMjg0NTk2","avatar_url":"https://avatars.githubusercontent.com/u/12284596?v=4","gravatar_id":"","url":"https://api.github.com/users/denialtorres","html_url":"https://github.com/denialtorres","followers_url":"https://api.github.com/users/denialtorres/followers","following_url":"https://api.github.com/users/denialtorres/following{/other_user}","gists_url":"https://api.github.com/users/denialtorres/gists{/gist_id}","starred_url":"https://api.github.com/users/denialtorres/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/denialtorres/subscriptions","organizations_url":"https://api.github.com/users/denialtorres/orgs","repos_url":"https://api.github.com/users/denialtorres/repos","events_url":"https://api.github.com/users/denialtorres/events{/privacy}","received_events_url":"https://api.github.com/users/denialtorres/received_events","type":"User","user_view_type":"public","site_admin":false,"name":null,"company":"@BetterTheWorld","blog":"","location":"Guadalajara","email":null,"hireable":null,"bio":null,"twitter_username":null,"public_repos":124,"public_gists":2,"followers":9,"following":10,"created_at":"2015-05-07T00:21:48Z","updated_at":"2025-03-06T18:41:19Z"}'
  recorded_at: Mon, 17 Mar 2025 23:45:17 GMT
recorded_with: VCR 6.3.1
